[package]
name = "example_rust"
version = "0.1.0"
authors = ["Javier G. Sogo <jgsogo@gmail.com>"]
edition = "2018"

[dependencies]
crnd = { path = "../../bindings/rust" }

[[bin]]
name = "example_rust"
path = "@CMAKE_CURRENT_SOURCE_DIR@/src/main.rs"
